h2{
    display:none;
}
h3{
    font-size: 33px;
}
#menu:hover{
    background-color: white !important;
}

body {
    position: relative;
}
ul.nav-pills {
    top: 120px;
    position: fixed;
}
div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
}
#section1 {color: #fff; background-color: #1E88E5;}
#section2 {color: #fff; background-color: #673ab7;}
#section3 {color: #fff; background-color: #ff9800;}
#section4 {color: #fff; background-color: #00bcd4;}
#section5 {color: #fff; background-color: #009688;}

@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
}