h2{
    display:none;
}
h3{
    font-size: 40px;
    padding-bottom: 15px;
}

h4 {
    font-size: 1.75em;
    text-align: center;
    margin-top: 30px;
}

.hello {
    text-align: center;
}
.subsection {
    font-size: 1.25em;
    font-weight: bold;
}

.sec {
    display: inline-block;
    font-size: .75em;
}

.tableofcontents {
    margin: auto;
    text-align: center;
}

body {
    position: relative;
    font-size: 2em;
}

.content {
    border: 1px solid #d3d3d3;
    padding: 10px;
}


@media(max-width: 1000px) {
    .sec{
        display: block;
    }


}

@media (min-width: 1000px) {
    .sec:not(:first-child):before {
        content: " | ";
        color: #3366BB;
    }
}

@media (max-width: 400px) {
    .ul {
       padding-left: 0;
    }
}