
#log-container {
    /*background-color: #CCCCCC;*/
    border-style: solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;

}

.log-entry {
    /*border-bottom-style: inset;*/
    background-color: #CCCCCC;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)*/
}

.log-entry:last-child {
    border-bottom-style: none;
}

h2{
    display:none;
}

.flex-row {
    display: flex;
    flex-wrap: wrap; /* wrap columns to next line if needed */
}

.flex-column {
    flex-grow: 1;
    flex-basis: 100%; /* columns take up whole line */
    padding-bottom: 50px;
}

.card-img-top{
    width: 100vw;
    object-fit: cover;
    height: 280px;
}

.filters{
    position: fixed;
    left:80%;
    top:50px;
}
.col-md-10 {
    padding-left: 0;
    padding-right: 0;
}
.col-md-10 h3, .col-md-10 h4, .col-md-10 p {
    padding-left: 15px;
}
.col-md-10 a {
    margin-left: 15px;
}

.container {
    
}
.row {
    margin-left: 0;
    margin-right: 0;
}

/* rules for screens 480px and wider */
@media (min-width: 490px) {
    .flex-column {
        flex-basis: 50%; /* columns take up half the line */
    }
}

/* rules for screens 780px and wider */
@media (min-width: 780px) {
    .flex-column {
        flex-basis: 33%;
    }
}

/* rules for screens 1100 and wider */
@media (min-width: 1000px) {
    .filters{
        position: fixed;
        left:80%;
        top:50px;
    }    
}
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}