
#log-container {
    /*background-color: #CCCCCC;*/
    border-style: solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;

}

.log-entry {
    /*border-bottom-style: inset;*/
    background-color: #CCCCCC;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)*/
}



.log-entry:last-child {
    border-bottom-style: none;
}