@{
    ViewData["Title"] = "Need to know";
}

@section Styles {
    <link rel="stylesheet" href="~/css/knowledge.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

}

<link rel="stylesheet" href="~/css/knowledge.css" />

<h2>@ViewData["Title"].</h2>

<body>
    <div class="tableofcontents">
        <ul class="ul">
            <li class="sec"><a href="#section1">How to Find a Good Barber</a></li>
            <li class="sec"><a href="#section2">Common Hairdressing Terms</a></li>
            <li class="sec"><a href="#section3">What to Say to Your Barber</a></li>
        </ul>
    </div>

    <div>
        <h3 class="hello">Key Concepts Every Man Should Know Before Getting a Cut</h3>

        <div id="section1" class="sectioninfo">
            <h4>How to Find a Good Barber</h4>
            <div class="content">
                <p class="subsection">Before You Step Foot in a Shop</p>
                <p><b>Ask your friends and family for recommendations.</b> If you know someone who has consistently has perfect hair then get them to recommend you their barber. </p>
                <p><b>Search online.</b> If asking around got you nowhere, it&rsquo;s time to check out online reviews. Search on sites such as Yelp or do a simple Google search using keywords such as &rdquo;men&rsquo;s barbershops in (enter your town here)&rdquo; or &rdquo;men&rsquo;s grooming near me&rdquo;. You should be able to find a list of possible choices with plenty of reviews. </p>
                <p><b>Do a drive-by.</b> See if the place has the atmosphere and look you are comfortable with. Check out the cleanliness of the shop and how organized they look. Most importantly, note how busy they are, good barbers will always have a steady flow of customers. </p>
                <p class="subsection">Once You&rsquo;re in the Shop</p>
                <p><b>Check out your barber.</b> Ask questions about how long he has been cutting hair, what styles he has experience with and where he learned. Also, take note of his grooming habits, the way he takes care of himself will give insight to the quality of his work. </p>
                <p><b>Observe how organized and clean the shop is.</b> The state in which a barber keeps his shop will tell you much about his work habits. If a barber keeps his area clean and organized, the attention to detail he displays will most likely directly translate to the haircut as well. </p>
                <p><b>Questions, Questions, Questions.</b> A good barber should ask many questions prior to starting a haircut. Additionally, the right questions need to be asked. A good barber should not start off by asking &rdquo;what number do you want on your sides?&rdquo;, this is a bad sign. Some example good questions are, &rdquo;what do you like and don&rsquo;t like about your hair?&rdquo; and &rdquo;what do you want to change about your style?&rdquo;. You want your barber to figure out what haircut you want and give you feedback on what haircut your best suited for, so they don&rsquo;t let you make a mistake. </p>
                <p><b>Feedback.</b> During a haircut, your barber should be asking for feedback. They should be letting you see their work as they progress in order to gain constant feedback during the cut in order to avoid any disasters. </p>
                <p><b>Budget.</b> The amount of money you want to spend on your haircut is up to you, so it&rsquo;s good to know how much a barber will charge and if that is within your budget. The common saying goes you get what you pay for, but you don&rsquo;t need to spend a fortune to get a great haircut. </p>
            </div>
        </div>
        <div id="section2" class="sectioninfo">
            <h4>Common Hairdressing Terms</h4>
            <div class="content">
                <p><b>Taper vs Fade:</b> These two terms are very similar and always asked. A fade is when the hair gradually becomes shorter until it reaches skin. A taper is when hair is longer at the top and gets shorter as it goes down the side and back of the head. </p>
                <p><b>Neckline:</b></p>
                <ul>
                    <li><b>Blocked:</b> A straight line cut across the natural neckline.</li>
                    <li><b>Rounded:</b> A straight line cut across the natural neckline with rounded corners.</li>
                    <li><b>Tapered:</b> Hair gets gradually shorter the closer it gets to the neckline. </li>
                </ul>
                <p><b>Arches:</b> The area between your ears and hairline.</p>
                <ul>
                    <li><b>High Arch:</b> Helps make ears look larger. </li>
                    <li><b>Nautral Arch:</b> Barber just trims up the natural arch with some short trimming. </li>
                </ul>
                <p><b>Sideburns:</b> Self-explanatory, but the length as well as the amount thinned out needs to be specified to your barber. Usually falls on top of the ear, mid-ear, or bottom of the ear. Usually asked to be thinned out as well to stay clear of the thick, noticeable sideburns. </p>
                <p><b>Haircut Grades</b> These are different lengths that you can get your haircut to. The smaller the number the shorter the cut. Grades go from 1-8. </p>
                <ul>
                    <li><b>Grade 1:</b> 1/8 of an inch</li>
                    <li><b>Grade 2:</b> 1/4 of an inch</li>
                    <li><b>Grade 3:</b> 3/8 of an inch</li>
                    <li><b>Grade 4:</b> 1/2 an inch</li>
                    <li><b>Grade 5:</b> 5/8 of an inch</li>
                    <li><b>Grade 6:</b> 3/4 of an inch </li>
                    <li><b>Grade 7:</b> 7/8 of an inch</li>
                    <li><b>Grade 8:</b> 1 inch</li>
                </ul>
                <p><b>Texture:</b> The look that your hair has depending on the thickness, the amount of curl, and the way that it is cut.</p>
                <ul>
                    <li><b>Layered:</b> The method of cutting hair at different lengths in order for longer hair to lay on top. This helps give hair an appearance of depth and volume. </li>
                    <li><b>Thinning:</b> Useful when you have thick hair, it is the process of removing weight from your hair to make it more manageable. </li>
                    <li><b>Choppy:</b> Different length hair is cut at 45 degree angles which helps give volume to your hair. </li>
                    <li><b>Razored:</b> A straight razor is used to trim the ends of the hair instead of scissors. This helps the hair lay flatter on the head and can help reduce bulk. </li>
                </ul>
                <p><b>Length:</b> The length of hair helps determine the type hair products as well as the hairstyles you want.</p>
                <ul>
                    <li><b>Near Shaved:</b> This category covers full shaved heads to very short stubble done with hair clippers. </li>
                    <li><b>Short Hair:</b> This ranges between clipper length hair at a grade 1 all the way to approximately 2 inches. </li>
                    <li><b>Medium Hair:</b> Ranges between 2 inches up to 6 inches in length. </li>
                    <li><b>Long Hair:</b> Any haircut longer than 6 inches. </li>
                </ul>
                <p><b>Hair Types (Quality):</b> Hair types are the shape of your hair and can be categorized into four different categories. </p>
                <ul>
                    <li><b>Straight:</b> Grows without any bend at all producing a shape similar to an I. </li>
                    <li><b>Wavy:</b> Bends as it grows producing a shape similar to an S. </li>
                    <li><b>Coiled:</b> Bends deeply as it grows and forms shapes similar to a coil. </li>
                    <li><b>Kinky:</b> Very tight coils are formed and it&rsquo;s hard to see any definition from far away. </li>
                </ul>
                </div>
            </div>
        <div id="section3" class="sectioninfo">
            <h4>What to Say to Your Barber</h4>
            <div class="content">
                <p>Now that have found a barber and know the basic terms, it&rsquo;s time to communicate that to your barber so you can get exactly what you want. In order to do that, follow the next eight easy steps. </p>
                <p><b>Tell him the general style.</b> Let him know the general style you want with a basic description or picture.</p>
                <p><b>Specify how much you want trimmed off and from where.</b> Be specific with what you are asking for. If you do not know exactly how much you want taken off and where it should be trimmed, let the barber know so he can gradually trim and you provide feedback. If you like clippers, then just let him know the numbers you want and where those numbers are trimming.</p>
                <p><b>Let him know if you want a taper or fade.</b> Now that we know what these terms mean, let the barber know what you want. </p>
                <p><b>Tell him the type of neckline you want.</b> Even though you almost never see the back of your neck, choosing the type of neckline is important. If you don&rsquo;t know what suites you best, ask for the barber&rsquo;s opinion. </p>
                <p><b>Specify if you desire any texturing.</b> Depending on your hair type, the style you are getting, and the look you are going for, you may want a choppy, razored, layered, or thinned out texture. </p>
                <p><b>Tell him what type of arch cut you want. </b> As discussed above, natural arches are the most common choice for this category. </p>
                <p><b>Pick the length of your sideburns.</b> Choose a length for your sideburns as well as if you need them thinned or not.</p>
                <p><b>Once you&rsquo;ve completed all these steps, take a moment to listen to your barber for suggestions.</b> They are the professionals and you&rsquo;re going to them for a reason, their expertise. Have an open mind and trust your barber. </p>
            </div>
            </div>
    </div>

</body>

<script>
    window.addEventListener("hashchange", function () { scrollBy(0, -50) })

</script>