@{
    ViewData["Title"] = "Admin";
}

<h2>@ViewData["Title"].</h2>

<ul>
    <li><a asp-area="" asp-controller="Images" asp-action="Index">Images</a></li>
    <li><a asp-area="" asp-controller="GalleryEntries" asp-action="Index">GalleyEntries</a></li>
    <li><a asp-area="" asp-controller="Tags" asp-action="Index">Tags</a></li>
    <li><a asp-area="" asp-controller="GalleryEntry_Image" asp-action="Index">GalleryEntry_Image</a></li>
    <li><a asp-area="" asp-controller="GalleryEntry_ApplicationUser" asp-action="Index">GalleryEntry_ApplicationUser</a></li>
    <li><a asp-area="" asp-controller="GalleryEntry_Tag" asp-action="Index">GalleryEntry_Tags</a></li>
    <li><a asp-area="" asp-controller="LogEntries" asp-action="Index">LogEntry</a></li>
</ul>