@{
    ViewData["Title"] = "Admin";
}

<h2>@ViewData["Title"].</h2>

<ul>
    <li><a asp-area="" asp-controller="Images" asp-action="Index">Images</a></li>
    <li><a asp-area="" asp-controller="GalleryEntries" asp-action="Index">GalleyEntries</a></li>
    <li><a asp-area="" asp-controller="GalleryEntry_Image" asp-action="Index">GalleryEntry_Image</a></li>
</ul>