@model IEnumerable<SparkClips.Models.HairyDatabase.GalleryEntry>
@{
    ViewData["Title"] = "Gallery";
}
@section Styles {
    <link rel="stylesheet" href="~/css/gallery.css" />
}
<h2>@ViewData["Title"].</h2>


<div class="row">
    <div class="col-md-10">
        <h3 class="pageTitle">Gallery</h3>
        <div class="flex-row">

            <div class="flex-column card" style="width: 20rem;">
                <img class="card-img-top" src="http://www.menshairstyletrends.com/wp-content/uploads/2016/11/agusbarber_-short-mens-haircut.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="flex-column card" style="width: 20rem;">
                <img class="card-img-top" src="http://i0.wp.com/therighthairstyles.com/wp-content/uploads/2014/12/20-combined-long-short-hairstyle.jpg?w=500" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="flex-column card" style="width: 20rem;">
                <img class="card-img-top" src="https://s-media-cache-ak0.pinimg.com/736x/0b/eb/56/0beb56c4b42feb01a13f8333c9699acf.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="flex-column card" style="width: 20rem;">
                <img class="card-img-top" src="http://www.menshairstyletrends.com/wp-content/uploads/2016/03/ceejayfadez_and-messy-hair-blown-dry-side-hard-part-hairstyles-men-300x300.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>   
            <div class="flex-column card" style="width: 20rem;">
                <img class="card-img-top" src="http://www.menshairstylestoday.com/wp-content/uploads/2015/12/High-Fade.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>   
            <div class="flex-column card" style="width: 20rem;">
                <img class="card-img-top" src="http://www.menshairstyletrends.com/wp-content/uploads/2016/12/tombaxter_hair-short-spiky-mens-haircut-2017-new-300x300.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>                                                               

        </div>        
    </div>
    <div class="col-md-2 filters">
        <h3>
            Filter
        </h3>
        <div class="form-group">
            <label for="length">Length:</label>
            <select class="form-control" id="length">
                <option>Very Short</option>
                <option>Short</option>
                <option>Average</option>
                <option>Long</option>
                <option>Very Long</option>
            </select>
        </div>
        <div class="form-group">
            <label for="maintainance">Maintainance:</label>
            <select class="form-control" id="maintainance">
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </select>
        </div>        
        <div class="form-group">
            <label for="beard">Beard:</label>
            <select class="form-control" id="beard">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>        
        <div class="form-group">
            <label for="quality">Hair Quality:</label>
            <select class="form-control" id="quality">
                <option value="">Curly</option>
                <option value="">Straight</option>
                <option value="">Fuzzy</option>
                <option value="">Bushy</option>
            </select>
        </div>        
    </div>
</div>

<!--
Previous setup

<div class="row" id="hidden">


    <div class="col-md-4">

        <div class="list-group">
            @foreach (var item in Model)
            {
                <a asp-action="GalleryDetail" asp-route-id="@item.GalleryEntryID" class="list-group-item">@Html.DisplayFor(modelItem => item.Title)</a>
            }
        </div>

    </div>
    <div class="col-md-8 hidden-xs">
        Details
    </div>

</div>
-->